# Node
node_modules/

# Next.js
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE
.idea/
.vscode/
*.iml

# Build artifacts
*.tsbuildinfo

# Python
__pycache__/
.ipynb_checkpoints/

# Java build artifacts
*.class

# OS
.DS_Store
Thumbs.db
